backend:
  name: git-gateway
  branch: master

media_folder: public/img  # 保持图片存储在静态目录
public_folder: /img

collections:
  - name: 'posts'
    label: '博客文章'
    label_singular: '文章'
    folder: 'src/'
    slug: '{{year}}-{{month}}-{{day}}-{{slug}}'
    create: true
    nested:
      depth: 99  # 允许无限级嵌套目录
    summary: "{{filename}}.{{extension}}"
    sortable_fields: [committer_date]
    path: "{{dirname}}/{{slug}}"  # 路径包含目录结构
    fields:
      - { label: "标题", name: "title", widget: "string" }
      - { label: "正文", name: "body", widget: "markdown" }
    view_groups:
      - label: 目录结构
        field: dirname
        pattern: ".*"