backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# These lines should *not* be indented
media_folder: "public/img"
public_folder: "/img"

collections:
  - name: pages
    label: Pages
    label_singular: 'Page'
    folder: src
    summary: '{{filename}}.md' # optional summary for a tree node, defaults to the inferred title field
    create: true
    # adding a nested object will show the collection folder structure
    nested:
      subfolders: true
      depth: 100 # max depth to show in the collection tree
      # summary: '{{filename}}.md' # optional summary for a tree node, defaults to the inferred title field
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "分类1", name: "tabs", widget: list ,required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "侧边栏", name: "sidebar", widget: "boolean",default: "false",required: true }
      - { label: "正文", name: "body", widget: "markdown" }