backend:
  name: git-gateway
  branch: master # Branch to update (optional; defaults to master)

# These lines should *not* be indented
media_folder: "public/img"
public_folder: "/img"

collections:
  - name: "Technology Blog" # Used in routes, e.g., /admin/collections/blog
    label: "技术文档" # Used in the UI
    folder: "src/technology/blog"
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    summary: "{{filename}}.md"
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "分类", name: "tabs", widget: "string",required: true }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "Good Food Blog" # Used in routes, e.g., /admin/collections/blog
    label: "美食文档" # Used in the UI
    folder: "src/goodfood/blog"
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    summary: "{{filename}}.md"
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "分类", name: "tabs", widget: "string",required: true }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "Life Blog" # Used in routes, e.g., /admin/collections/blog
    label: "生活文档" # Used in the UI
    folder: "src/life/blog"
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    summary: "{{filename}}.md"
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "分类", name: "tabs", widget: "string",required: true }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "Random Thoughts Blog" # Used in routes, e.g., /admin/collections/blog
    label: "随想文档" # Used in the UI
    folder: "src/randomthoughts/blog"
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    summary: "{{filename}}.md"
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "分类", name: "tabs", widget: "string",required: true }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "Test Blog" # Used in routes, e.g., /admin/collections/blog
    label: "测评文档" # Used in the UI
    folder: "src/test/blog"
    create: true # Allow users to create new documents in this collection
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}" # Filename template, e.g., YYYY-MM-DD-title.md
    summary: "{{filename}}.md"
    fields:
      - { label: "布局", name: "layout", widget: "string", default: "doc",required: true }
      - { label: "标题", name: "title", widget: "string",required: true }
      - { label: "发布时间", name: "createDate", widget: "string",required: true }
      - { label: "分类", name: "tabs", widget: "string",required: true }
      - { label: "Body", name: "body", widget: "markdown" }
